title: Yemen Red Crescent Society Annual Report 2025
description: Annual Projects & Activities Report 2025 for Marib Branch
theme: minima
plugins:
  - jekyll-feed
  - jekyll-sitemap
include:
  - _pages
exclude:
  - Gemfile
  - Gemfile.lock
  - vendor/
  - .bundle/
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - .bundle
  - .sass-cache
  - .jekyll-cache
  - gemfiles